.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-top: 2rem;
}

.container h1 {
  color: #e84545;
  font-weight: bold;
}

.container h1 span {
  font-weight: 100;
}

.ligasList {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;
  justify-content: center;
}

.ligasList li {
  list-style: none;
  text-transform: capitalize;

  background-color: #ef4f4f;
  color: #fff;

  padding: 1rem;
  margin: 3rem;

  height: 12rem;

  border-radius: 10px;
}

.ligasList li a {
  display: flex;
  flex-direction: column;
}

.ligaNames span {
  font-size: 1.5rem;
  font-weight: 100;
}

.ligaNames p {
  font-size: 1rem;
  font-weight: 100;
  margin: 1rem 0 1rem 0;
}

.ligaImage {
  height: 4rem;
  align-self: flex-end;
  justify-content: flex-end;
}

@media (max-width: 1100px) {
  .ligasList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .ligasList {
    width: 100%;
    display: initial;

    grid-template-columns: initial;
  }
}
